extends ../../layouts/layout
block content
	div(class=locals.className('example', 'page-example'))
		include ../../components/header/header
				block header
					span header
		include ../../components/example/example