extends /layouts/layout
block content
    div(class=className('index', 'header'))
        include /components/header/header.pug
            block header
    div(class=className('index', 'main-screen'))
        include /components/main-screen/main-screen.pug
            block main-screen
    div(class=className('index', 'main-carousel'))
        include /components/main-carousel/main-carousel.pug
            block main-carousel
