extends ../../layouts/layout
block content
    div(class=className('example', 'example-page'))
        h1 Test PAGE
        div(aria-label="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto at aut autem deleniti dolores ea, error ipsam itaque minima nemo nihil nostrum numquam perspiciatis quasi quod temporibus, voluptatem voluptates?" class=className('example', 'hint')) HINT Right