
extends ../../layouts/layout
block content
	include ../../components/header/header
		block header
			span header
	include ../../components/container/container
		block container
			div(class=locals.className('index', 'main-page'))
				span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus id, vel rerum, libero doloribus officia quod consequatur nulla corrupti distinctio blanditiis, repudiandae molestias repellat deserunt vitae reprehenderit neque dicta ab.
				include ../../components/ellipse/ellipse.pug
					block ellipse
						span(class=locals.className('ellipse', 'ellipse-text')) Ellipse
				include ../../components/square/square.pug
					block square
						span Square
				include ../../components/test-block/test-block.pug

