
extends ../../layouts/layout
block content
	div(class=locals.className('index', 'main-page'))
		include ../../components/ellipse/ellipse.pug
			block ellipse
				span(class=locals.className('ellipse', 'ellipse-text')) Ellipse
