.main-screen {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: url("images/img/bg.svg") center 9.3rem no-repeat, $yellow;
  background-size: contain;
  @include z-index(share);
}


.text-wrapp {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 8.4rem;
  margin-bottom: 16.3rem;
  padding: 4rem 0;
  @include z-index(share-type);
}


.title {
  //@include sprite('qwqw.jpg');
  @include font($size: 4.4rem, $weight: 100);

  span {
    font-weight: bold;
  }
}


.sub-title {
  margin-top: 1rem;
  @include font($size: 2.4rem, $weight: 100);
}


.call-back {
  margin-top: 11.5rem;
  @include font($size: 1.6rem);
}


.btn {
  margin-top: 1.5rem;
  @include button($color: $default, $padding: 1.6rem 4.4rem, $height: auto);
}


