.main-screen {
	position: relative;
	background: url("images/bg.svg") 9.3rem no-repeat, $yellow;
	background-size: contain;
	background-position: -2rem 16rem;
	padding: 0 1rem;

	@include media($md-6) {
		padding: 0 2rem;
	}
	@include z-index(share);
}


.text-wrapp {
	margin: 7rem 0;
	padding: 4rem 0;
	@include z-index(share-type);

	@include media($xl) {
		margin-top: 16rem;
	}
}


.title {
	text-align: center;
	span {
		font-weight: bold;
	}
}


.sub-title {
	margin-top: 1rem;
}


.call-back {
	margin-top: 11.5rem;
	
}


.btn {
	margin-top: 1.5rem;
}


