div(class=locals.className('example', 'example-module'))
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eos consequatur excepturi, sit corporis iusto facilis quae veniam earum non necessitatibus fugit explicabo nostrum, inventore similique in, ab quam deleniti.