@mixin alpha-gradient($position: bottom, $color: #fff, $width: 2rem) {
  position: absolute;
  display: flex;
  content: '';
  background-color: $yellow;
  @if $position == bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: $width;
    background: linear-gradient(to top, $color 0%, rgba(255, 255, 255, 0) 100%);
  } @else if $position == top {
    top: 0;
    left: 0;
    width: 100%;
    height: $width;
    background: linear-gradient(to bottom, $color 0%, rgba(255, 255, 255, 0) 100%);
  } @else if $position == left {
    bottom: 0;
    left: 0;
    width: $width;
    height: 100%;
    background: linear-gradient(to right, $color 0%, rgba(255, 255, 255, 0) 100%);
  } @else if $position == right {
    bottom: 0;
    right: 0;
    width: $width;
    height: 100%;
    background: linear-gradient(to left, $color 0%, rgba(255, 255, 255, 0) 100%);
  }
}