@mixin burg-line {
	display: block;
	position: absolute;
	height: .2rem;
	width: 100%;
	border-radius: .2rem;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
	background-color: $default;
}

//margin
.header {
	&--logo {
		margin: 1.6rem 0;
	}

	&--search {
		margin: 1.5rem 0 1.5rem 0;
		@include media($lg--header) {
			margin: 1.5rem;
		}
	}

	&--sign {
		margin: 0 0 1.5rem 0;
		@include media($lg--header) {
			margin: 0 1.5rem 0 0;
		}
		@include media($xl) {
			margin: 0;
		}
	}

	&--nav {

	}

	&--burger {
	}
}


.header {
	position: fixed;
	display: flex;
	flex-flow: column;
	@include minmax($lg, $xl) {
		padding-right: 7rem;
	}
	@include media($lg--header) {
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
	}
	@include minmax($lg--header, $xl) {
		flex-wrap: wrap;
	}

	@include wrapp(110rem, 0, 0);
	top: 0;
	left: 0;
	right: 0;
	max-width: 110rem;
	font-size: 1.4rem;
	background-color: $yellow;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
	@include z-index(footer);
}



.search {
	display: flex;
	max-width: 36rem;
	height: 5rem;
	position: relative;
	@include media($lg--header) {
		width: 38%;
	}


	&:before {content: '';
		display: block;
		position: absolute;
		left: 1.5rem;
		top: 0;
		bottom: 0;
		margin: auto 0;
		@include sprite-search-icon;
	}
}



.nav {
	display: flex;
	flex-flow: column wrap;
	max-height: 14.5rem;
	max-width: 30rem;
	width: 100%;
	@include media($xl) {
		flex-flow: row wrap;
		max-width: 23.5rem;
		width: auto;
	}


	.item {
		color: $default;
		font-weight: 100;
		margin: 1rem 2rem;

		@include media($xl) {
			margin: .5rem 1.5rem;
		}
	}
}




.sign {
	display: flex;
	@include media($xl) {
		order: 1;
	}
}



.sign {

	.btn {
		&:first-of-type {
			margin-right: 1rem;
		}
	}
}



//burger

.wrap-burger {
	position: absolute;
	top: 2.9rem;
	right: 0;
	transform: translate(-50%);
}


.burger {
	position: relative;
	display: flex;
	width: 3rem;
	height: 2rem;
	transform: rotate(0deg);
	transition: .3s ease-in-out;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	@include media($xl) {
		display: none;
	}
}


.top {
	top: 0;
	@include burg-line;
}

.mid {
	top: 50%;
	transform: translateY(50%);
	@include burg-line;
}

.bottom {
	bottom: -.2rem;
	@include burg-line;
}

:global(.burger-js.open-burg-js) {
	.top {
		transform: translateY(1rem) rotate(45deg);
	}

	.mid {
		width: 0%;
		opacity: 0;
	}

	.bottom {
		transform: translateY(-1rem) rotate(-45deg);
	}
}


:global(.nav-js) {
	&:nth-of-type(-n+3) {
		@include minmax($lg--header, $xl) {
			display: flex;
		}
	}
	@media screen and (max-width: 1119px) {
		display: none;
	}
}

:global(.nav-js.open-nav-js) {
	display: flex;
	@include media($xl) {
		display: flex;
	}
}