header(class=locals.className('header', 'header header--black'))
    block header
        div(class=locals.className('header', 'logo')) Logo
        input(class=locals.className('header', 'search') placeholder='Search')