//@import '../../../scss/abstract/vars';

@mixin set-color($color) {
  color: $color;
}

.header {
  box-sizing: content-box;
  max-width: 1100px;
  padding: 1rem calc(50% - 550px);
  //background-color: $yellow;
  height: 100px;
}

.logo {
  @include set-color(tomato);
}

.search {
  width: 200px;
  height: 50px;
}