@mixin svg-common {
  background: url("svg/sprite.svg") no-repeat;
}

@mixin sprite-logo {
@include svg-common;
background-position: 0 0;
  width: 156px;
  height: 48px;
}

@mixin sprite-search-icon {
@include svg-common;
background-position: 0 100%;
  width: 37px;
  height: 33px;
}

