//color
$white: #fff;
$black: #000;
$default: #363C44;
$yellow: #FFCF27;
$yellow-deep: #E6BB22;
$yellow-dark: #CCA61F;

//break-point
$xs: 0;
$md: 500px;
$md-6: 600px;
$lg: 760px;
$xl: 1120px;
$header-wrap: 740px;
$header-wrap-2: 738px;
$header-row: 838px;
$header-flex: 898px;
$header-order: 526px;